<script>
	export let item = {};
</script>
<span class="cell"><span class="above">{@html item.above===undefined ?"":item.above}</span><span class={item.disabled?"disabled":"content"}>{item.label}</span><span class="below">{@html item.below===undefined ?"":item.below}</span></span>
<!-- <span class="cell"><span class="content" class:clicked>{label}</span></span> -->
<style>
	.cell{
		position: relative;
		margin: 0px;
		padding: 0px;
	}
	.content{
		/*vertical-align: middle;*/
		width: 2em;
		height: 2em;
		font-size: 120%;
  		border-radius: 50%;
  		display: inline-block;
  		background-color: hsl(0, 0%, 86%);
  		border-color: hsl(217, 71%, 53%);
        border-width: 3px;
        border-style: solid;
		text-align: center;
	}
	.disabled{
		/*vertical-align: middle;*/
		width: 2em;
		height: 2em;
		font-size: 120%;
  		border-radius: 50%;
  		display: inline-block;
  		background-color: hsl(0, 0%, 86%);
  		border-color: hsl(217, 71%, 53%);
        border-width: 3px;
        border-style: solid;
		text-align: center;
	}
	.selected{
		text-decoration: underline;
	}
	.below{
		font-size: 80%;
		position: absolute;
		top:2em;
		left: 1.2em;
		text-align: center;
	}
	.above{
		font-size: 80%;
		position: absolute;
		top:-2em;
		left: 1.25em;
		text-align: center;
	}
	.none{
		display: none;
	}
</style>