<svelte:head>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
</svelte:head>

<script>
	import Linear from '../../lib/Linear.svelte';

	let liste_animaux = ["🦑","🐢","🐼","🦊","🦐","🦆","🐯","🐸"];
	let reponse = [];
	let solution = ["🐼","🦊","🦐"];

	function isEqual(tab) {
  		if (solution.length !== tab.length) return false
        for(var i=0; i< solution.length; i++){
            if(solution[i] != tab[i].label){
                return false
            }
        }
        return true
	}
    function init(){
        verif = false;
        let n = 3 + Math.floor(Math.random() * 4);
        solution = []
        for (var i=0; i < n; i++){
            solution.push(liste_animaux[Math.floor(Math.random() * liste_animaux.length)])
        }
        reponse = [];
        reponse = reponse;
        solution = solution;
    }

    let verif = false;
    init();
    
    function handleList(event){
        if(isEqual(event.detail.list)){
            verif = true;
        }
    }
</script>

<section class="section">
<h1 class="title">Reconstituer une pile</h1>
    <div class="modal {verif ? 'is-active' : ''}">
      <div class="modal-background"></div>
      <div class="modal-content">
        <article class="message is-success">
            <div class="message-header"><p id="message">Bravo !</p></div>
            <div class="message-body" style="text-align:center;">
                <button on:click={()=>location.reload()}>Rechargez la page pour recommencer.</button>
                <p>
                <Linear externalNumber={1} labels={solution} buttons={[]} caption={""} vertical={true} />
                </p>
            </div>
      </div>
      <button class="modal-close is-large" aria-label="close"></button>
    </div>
    <div class="columns">
    <div class="column">
  <article class="message is-info">
  <div class="message-header"><p id="message">Sauriez-vous reconstituter la pile ci-dessous ?</p></div>
  <div class="message-body">
        <div class="content">
        Une <strong>pile</strong> est 
        composée d'éléments posés les uns sur les autres. 
        Vous pouvez la modifier de deux manières :
        <ul>
        <li><strong>Ajouter</strong> un élément <em>sur la pile</em>, tout en haut, on dit <strong>empiler</strong>.</li>
        <li><strong>Dépiler</strong>, c'est-à-dire enlever l'élément qui est <em>au sommet</em> de la pile.</li>
        </ul>
        Avec les outils, vous devez créer une pile identique à celle-ci :
        <Linear externalNumber={1} labels={solution} buttons={[]} caption={""} vertical={true}>
	</Linear>
        </div>
    </div>
    </article>        
    </div>
    <div class="column">
        <article class="message is-warning" id="entete-message">
            <div class="message-header">
                <p>Outils</p>
            </div>
            <div class="message-body">
                Cliquez sur une image pour l'empiler.
                <Linear externalNumber={3} icons={liste_animaux} buttons = {["push_icons","pop"]} caption={""} bind:labels={reponse} vertical={true} on:list={handleList}></Linear>
            </div>
        </article>
        </div>
    </div>
</section>


