<svelte:head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
</svelte:head>
<script>
    import Cell from '../lib/Cell.svelte';
    import Linear from '../lib/Linear.svelte';

    let t = "8";
</script>


<section class="section">
<Cell item={ {label:"ok",above:"0"} }/>

<br>

<Linear externalNumber={9} labels={[0,7,9,4]} ></Linear>

<br>

<Linear caption="<h1 class='title'>Test</h1>" externalNumber={1} labels={[9,t,7,3]} buttons={[]} numbered={true} aboves={["!","<b>.</b>",".","."]}></Linear>

</section>