<script>
	import { quintOut } from 'svelte/easing';
	import { crossfade } from 'svelte/transition';
	import { flip } from 'svelte/animate';

	const [send, receive] = crossfade({
		fallback(node, params) {
			const style = getComputedStyle(node);
			const transform = style.transform === 'none' ? '' : style.transform;

			return {
				duration: 600,
				easing: quintOut,
				css: (t) => `
					transform: ${transform} scale(${t});
					opacity: ${t}
				`
			};
		}
	});


    let piles = [[{texte:"🐼", "cle":2},
					{texte:"🦊", "cle":1},
                    {texte:"🐯", "cle":0}],
                    [],
                    [],
                    []];  // piles[3] pour la variable x

	let noms_piles = ["P1","P2","P3"];

	let essais = 0;
	let cle = 3;
  	let objectif = ["🐯", "🦊", "🐼"]; 

    let depiler_num = 1;
    let empiler_num = 1;

	let prog = [];
	let cle_prog = 0;

	let ligne_active = 0;
	let lecture = false;

	async function init(){
		piles = [[
                    {texte:"🐼", "cle":2},
					{texte:"🦊", "cle":1},
                    {texte:"🐯", "cle":0}
					],
                    [],
                    [],
                    []];
		ligne_active = 0;
		lecture = false;
	}

	function alerter(txt){
		alert(txt);
	}

	function sleep(ms) {
    	return new Promise(resolve => setTimeout(resolve, ms));
	}

	function verifier(){
        if (piles[0].length !== objectif.length) return false;
		let rep = true;
		for (var i = 0; i < objectif.length; i++) {
			if (piles[0][i]["texte"] != objectif[i]){
                console.log(piles[0][i]["texte"].concat(' == ',  objectif[i]));
				return false;
			}
		}
		if(rep){
				let msg = "";
				if(essais > objectif.length*3){
					msg = "\nMais vous avez utilisé "+essais.toString()+" essais, vous pouvez faire mieux."
				}
				alerter("Bravo !"+msg);
			}
	}

	function depiler(p){
		if(piles[p].length == 0){
			let msg = "ERREUR : Impossible de dépiler une pile vide";
			//alerter(msg);
			prog[ligne_active]["erreur"] = msg;
		}else{
			prog[ligne_active]["erreur"] = false;
            let elt =  piles[p].shift();
            if(piles[3].length==0){
                piles[3].push(elt)
            }else{
                piles[3][0] = elt;
            }
            piles = piles;
        }
	}

	function empiler(p){
		if(piles[3].length > 0){ // suppression de l'élément dans x
			let a = piles[3].pop();
            // copie
            cle ++;
            let b = {"texte":a.texte, "cle":cle}
			piles[3].push(b);
            piles[p] = [a, ... piles[p]];
			prog[ligne_active]["erreur"] = false;
			piles = piles;
		}else{
			let msg = "ERREUR : Impossible d'empiler : x n'est pas défini";
			//alerter(msg);
			prog[ligne_active]["erreur"] = msg;
		}
	}

	function ajouter_depiler(){
		prog.push({action:"x = depiler", parametre:depiler_num, cle: cle_prog});
		cle_prog ++;
		prog = prog;
	}

	function ajouter_empiler(){
		prog.push({action:"empiler", parametre:empiler_num, cle: cle_prog});
		cle_prog ++;
		prog = prog;
	}
	function echanger(i){
		console.log(i);
		[prog[i], prog[i-1]] = [prog[i-1], prog[i]];
		prog = prog;
	}

	function supprimer_instruction(index) {
		prog.splice(index, 1);
		if(index < ligne_active){
			ligne_active = ligne_active - 1;
		}
		ligne_active = Math.min(ligne_active, prog.length-1);
		ligne_active = Math.max(ligne_active, 0);
		prog = prog;
    }

    async function executer_ligne_code(){
		console.log(ligne_active);
		lecture = true;
		let i = ligne_active;
		console.log(prog[i]);
		if(prog[i].action=="empiler"){
			empiler(prog[i].parametre);
		}else{
			depiler(prog[i].parametre);
		}
		await sleep(610);
		ligne_active = ligne_active + 1;
		lecture = false;
		verifier();
	}
	async function executer_tout_code(){
		await init();
		await sleep(610);
		for (let j = 0; j < prog.length; j++) {
			await executer_ligne_code();
		}
	}
</script>

<h1>Retourner une pile...</h1>
<h2>...en programmant avec Python</h2>
<p>
Vous devez retourner la pile <code>&nbsp;P1&nbsp;</code>. Pour cela, vous pouvez utiliser deux piles auxiliaires : la pile <code>&nbsp;P2&nbsp;</code> et la pile <code>&nbsp;P3&nbsp;</code>, ainsi qu'une variable <code>&nbsp;x&nbsp;</code>.	
</p>

<p>Pour répondre au problème, vous disposez de deux instructions écrites en Python :</p>
<ul>
<li><code>x = depiler(j)</code> supprime le sommet de la pile <code>&nbsp;P&nbsp;</code> et l'affecte à la variable <code>&nbsp;x&nbsp;</code> ;</li>
<li><code>empiler(x, P)</code> empile la valeur de <code>&nbsp;x&nbsp;</code> sur la pile <code>&nbsp;P&nbsp;</code>.</li>
</ul>

<p>À vous de jouer !</p>
<table>
<tr>
	<th>Objectif</th>
	<th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
	<th><code>&nbsp;P1&nbsp;</code></th>
	<th><code>&nbsp;P2&nbsp;</code></th>
	<th><code>&nbsp;P3&nbsp;</code></th>
</tr>
<tr>
	<td class="objectif">
		{#each objectif as item (item)}	
	    	<div>
		 	{item}
			</div>
    {/each}
	</td>
	<td></td>
	<td class="pile">
		{#each piles[0] as item (item.cle)}	
	    	<div in:receive={{ key: item.cle }} out:send={{ key: item.cle }} animate:flip>
		 		{item.texte}
			</div>
    {/each}
	</td>
	<td class="pile">
		{#each piles[1] as item (item.cle)}	
	    	<div in:receive={{ key: item.cle }} out:send={{ key: item.cle }} animate:flip>
		 		{item.texte}
			</div>
    {/each}
	 </td>
	<td class="pile">
		{#each piles[2] as item (item.cle)}	
	    	<div in:receive={{ key: item.cle }} out:send={{ key: item.cle }} animate:flip>
		 		{item.texte}
			</div>
    {/each}
	 </td>
</tr>
<tr style="line-height: 2em">
	<th colspan="3" style="text-align:right">Variable <code>&nbsp;x&nbsp;</code> :</th>
	<td colspan="2">
		{#each piles[3] as item (item.cle)}	
			<div in:receive={{ key: item.cle }} out:send={{ key: item.cle }} animate:flip>
				{item.texte}
			</div>
		{/each}

	 </td>
</tr>
</table>



<p>Cliquez sur le + à droite d'une instruction pour l'ajouter au code.</p>
<div style="display:flex">
	<div>
	<code>x = depiler(</code>
	<select bind:value={depiler_num}>
		{#each noms_piles as nom, index}
			<option value={index}>
				{nom}
			</option>
		{/each}
	</select>
	<code>)</code>
	<button on:click={ajouter_depiler}>+</button>
	</div>
	<div style="flex: 1;">
	</div>
	<div style="flex: 1;" class="droite">
	<code>empiler(x,</code>
	<select bind:value={empiler_num}>
		{#each noms_piles as nom1, index1}
			<option value={index1}>
				{nom1}
			</option>
		{/each}
	</select>
	<code>)</code>
	<button on:click={ajouter_empiler}>+</button>
	</div>
</div>

<p>
	Exécuter :
		<button on:click={init} disabled="{lecture || ligne_active == 0}">&lt; début</button>
		<button on:click={() => lecture=false} disabled="{! lecture}">|| arrêter</button>
		<button on:click={executer_ligne_code} disabled="{lecture || ligne_active > prog.length-1}">&gt; suivante</button>
		<button on:click={executer_tout_code} disabled="{lecture || ligne_active > prog.length-1}">&gt;&gt; fin</button>
</p>

{#if prog.length > 0}
<table id="code">
{#each prog as ligne, index (ligne.cle)}
	<tr class="ligne" in:receive={{ key: ligne.cle }} out:send={{ key: ligne.cle }} animate:flip>
	<td style="width:2ch">{index+1}</td>
    <td class="gauche" class:actif={ligne_active == index && lecture}>
	<span class="bouton" on:click={() => echanger(index+1)} class:invisible={index==prog.length-1}>↓</span>
	<span class="bouton" on:click={() => echanger(index)} class:invisible={index==0}>↑</span>
	<code>{ligne.action}({noms_piles[ligne.parametre]})</code>
	{#if ligne.erreur}
	<code class="erreur droite">↳ {ligne.erreur}</code>
	{/if}
    </td>
	<td on:click={() => supprimer_instruction(index)} class="droite bouton">×</td>
	</tr>
{/each}
</table>
{/if}