<svelte:head>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
</svelte:head>
<script>
	import Linear from '../../lib/Linear.svelte';
	import {writableArrays, swapIndex, writeAbove,writeBelow, disable,unDisable} from '../../lib/storeLinear.js';

	let labels = [7,4,2,8,1,3,5,0,9];

	let go = false;

	function maybe(index){
		writeAbove($writableArrays[1],index,"?");
	};
	function unmaybe(index){
		writeAbove($writableArrays[1],index,"")
	};
	function select(index){
		writeBelow($writableArrays[1],index,"A");
	}

	function unselect(index){
		writeBelow($writableArrays[1],index,"");
	}

	let beginning_sort = 0;
	let test_min = 0;
	let index_min = 0;

	function reset(){
		document.getElementById("reset").disabled = true;
		document.getElementById("read").disabled = false;
		document.getElementById("pause").disabled = false;
		go = false;
		beginning_sort = 0;
		test_min = 0;
		index_min = 0;
		$writableArrays[1] = Array($writableArrays[1].length);
		for(var i=0; i<$writableArrays[1].length;i++){
			$writableArrays[1][i]={label:$writableArrays[2][i].label,index:i};
		}
		$writableArrays[1] = $writableArrays[1];
	}

	function read(){
		document.getElementById("reset").disabled = false;
		document.getElementById("read").disabled = true;
		document.getElementById("pause").disabled = false;
		go = true;
		selection();
	}

	function pause(){
		document.getElementById("reset").disabled = false;
		document.getElementById("read").disabled = false;
		document.getElementById("pause").disabled = true;
		go = false;
	}

	function selection(){
		if(!go){return 0;}
		//console.log(beginning_sort+" "+test_min+" "+index_min);
		var n =  $writableArrays[1].length;
		if (beginning_sort == n){
			document.getElementById("reset").disabled = false;
			document.getElementById("read").disabled = true;
			document.getElementById("pause").disabled = true;
		}  // terminé
		else{
			select(index_min);
			//if(beginning_sort > 0){unselect(beginning_sort)};
			if(test_min > 0){unmaybe(test_min-1)};
			if(test_min == n){  //on a trouvé le minimum, on permute
				swapIndex($writableArrays[1],beginning_sort,index_min);
				disable($writableArrays[1], beginning_sort);
				unselect(beginning_sort);
				beginning_sort ++ ;
				test_min = beginning_sort;
				index_min = beginning_sort;
			}else{
				maybe(test_min);
				// on cherche le minimum
				if($writableArrays[1][index_min].label > $writableArrays[1][test_min].label){
					unselect(index_min);
					index_min = test_min;
					select(test_min);
				};
				test_min++;
			}
			$writableArrays[1] = $writableArrays[1];
			setTimeout(selection, 1000);
		}
	}
</script>

<section class="section">
<h1 class="title">Le tri par sélection</h1>
	<div>La liste à trier :
    <Linear externalNumber={2} labels={labels} />
    </div>
    <div>Résultat :
    <br/>
    <Linear externalNumber={1} labels={labels} />
    </div>
    <br/>
    <button on:click={ reset } id="reset">remise à zéro</button>
    <button on:click={ read } id="read">lire</button>
    <button on:click={ pause } id="pause">pause</button>
</section>