<svelte:head>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
</svelte:head>
<script>
	import Linear from '../../lib/Linear.svelte';
	import {writableArrays, swapIndex, pop} from '../../lib/storeLinear.js';

	let labels = [7,6,4,2,8,1,3,5];

	function handleListItem(event){
		//quand un élément est cliqué
		//alert(event.detail.item.label);
	}

	function handleList(event){
		//quand la liste est modifiée
	}
	
	function compareItems(a, b) {
  		return a.label - b.label;
	}
	
	function myPop1(){
		pop($writableArrays[1]);
		$writableArrays[1] = $writableArrays[1];
	}
	function myPop2(){
		pop($writableArrays[2]);
		$writableArrays[2] = $writableArrays[2];
	}
	function sort(){
		$writableArrays[1].sort(compareItems);
		$writableArrays[1] = $writableArrays[1];
	}
	let j = 0;
	function selection(){
		var n =  $writableArrays[2].length;
		//for(var j=0;  j<n ;j++){
			var index_mini = j;
			for(var i=j; i<n; i++){
				if($writableArrays[2][i].label < $writableArrays[2][index_mini].label){
					index_mini = i;
				}
			}
			swapIndex($writableArrays[2],j,index_mini);
			$writableArrays[2] = $writableArrays[2];
			j++
		//}
		
	}

	function selection_r(j){
		var n =  $writableArrays[1].length;
		if(j < n-1){
			var index_mini = j;
			for(var i=j; i<n; i++){
				if($writableArrays[1][i].label < $writableArrays[1][index_mini].label){
					index_mini = i;
				}
			}
			swapIndex($writableArrays[1],j,index_mini);
			$writableArrays[1] = $writableArrays[1];
			setTimeout(selection_r, 1200, j+1);
		}
	}

	function insertion_r(j){
		var n =  $writableArrays[2].length;
		if(j < n){
			var i = j;
			while(i>0 && $writableArrays[2][i].label < $writableArrays[2][i-1].label){
				swapIndex($writableArrays[2],i,i-1);
				i = i-1;
			}
			$writableArrays[2] = $writableArrays[2];
			setTimeout(insertion_r, 1200, j+1);
		}
	}

</script>

<section class="section">
<h1 class="title">Les listes !</h1>
    <div>
    <Linear externalNumber={1} labels={labels} aboves={labels} belows={labels} clickable={true} ></Linear>
    </div>
    <button on:click={myPop1}>pop</button><button on:click={()=>selection_r(0)}>sélection</button>
    <br>
    <div>
    <Linear externalNumber={2} labels={labels} numbered={true} ></Linear>
    </div>
    <button on:click={myPop2}>pop</button><button on:click={()=>insertion_r(1)}>insertion</button>
</section>