<svelte:head>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
</svelte:head>
<script>
	let cible = Math.floor(Math.random()*1001);
	let prop = 0;
	let propositions = [];
	let essais = 0;
	let termine = false;
	let value = 0;

	function verifier_entier(n){
		return ! isNaN(parseInt(prop,10)) && parseInt(prop,10) == prop;
	}

	function verifier(){
		if(propositions.includes(prop)){
			alert(prop+" : ce nombre a déjà été testé !")
		}
		else if(prop <= 1000 && prop >= 0 && verifier_entier(prop)){
			essais ++;
			propositions.push(prop);
			propositions = propositions;
			termine = (prop == cible);
		}
	}
</script>

<section class="section">

<article class="message is-warning" >
    <div class="message-header is-warning">
        <p>Le jeu du Plus ou Moins</p>
    </div>
    <div class="message-body">
        <p class="content">J'ai tiré au hasard un nombre entier compris entre 0 et 1000. Saurez-vous le trouver ?</p>
			<form>
				<input type=number bind:value={prop} min=0 max=1000 disabled='{termine}'> <button on:click={verifier} disabled='{termine}'>Valider</button>
			</form>
	 	<p class="content">
		{#each propositions as p, i}
			{#if p==cible}
	  			<span class="tag is-success">Essai n° {i+1} : {p}. Bravo !</span>
			{:else}
	  			<span class="tag is-danger">Essai n° {i+1} : {p}.
	  				{#if p > cible}
	  				 Trop grand ! Essayez un nombre plus petit.
	  				{:else}
	  				Trop petit ! Essayez un nombre plus grand.
	  				{/if}
	  			</span>	  			
			{/if}
		{/each}  
		</p>          
	</div>
</article>

</section>